<?xml version="1.0" encoding="utf-8"?>
<cfg>		
  <Macros MODULES="" DATA="/datas2/share/alpha_bar/DestData/"/>
  <!--Macros MODULES="" DATA="/datas/share/stock_bar_data_sim/"/-->

  <!-- some constants, like backdays, are required. others are welcome -->
  <Constants runmode   = "backtest" startdate = "20210104" enddate   = "20210115" />
  <!--Constants runmode   = "backtest" startdate = "20120104" enddate   = "20170831" /-->

  <!-- can set attributes like minvol, etc. -->
   <Universe disable = "000022.SZ|"/>

  <Modules>
      <Module id="CTAPort"             path="/datas/share/Msimrelease_stkbar/modules/hfs_stk_bar_port.so"                handler=""/>
      <Module id="CTAFeed"              path="/datas/share/Msimrelease_stkbar/modules/hfs_stk_bar_datafeed.so"            handler=""/>
      <Module id="SimpleCombo"          path="/datas/share/Msimrelease_stkbar/modules/hfs_stk_bar_simple_combo.so"        handler=""/>
      <Module id="SimTradeZY2"           path="/datas/share/Msimrelease_stkbar/modules/hfs_sim_trade9.so"                  handler=""/>
      <Module id="SimTradeIntra"           path="/datas/share/Msimrelease_stkbar/modules/hfs_sim_trade_intra.so"   
		 longOnly="false" rebFreq="4" tolerance="5" benchmark="" numQtls="5" numStks="4460" offset="50" lagMinute="1" minslen="15"
         delay = "0"  slippage="0.00"  pnlDir="cache/pnl"  handler="" detail="false"/>

    
      <Module id="SimTradeIntra2"           path="/datas/share/Msimrelease_stkbar/modules/hfs_sim_trade_intra2.so"   
                 longOnly="false" rebFreq="4" tolerance="5" benchmark="" numQtls="5" numStks="4460" offset="50" lagMinute="1" minslen="15"
         delay = "0"  slippage="0.00"  pnlDir="cache/pnl" detail="false" handler=""/>

      <Module id="RiskStats"            path="/datas/share/Msimrelease_stkbar/modules/hfs_bar_stats_risk.so"              handler=""/>
      <Module id="StatsFast"            path="/datas/share/Msimrelease_stkbar/modules/hfs_bar_stats_fast.so"              handler=""/>
      <Module id="StatsSimple"  path="/datas/share/Msimrelease_stkbar/modules/hfs_bar_stats_silent.so" handler=""/>
      <Module id="AlphaOpAbs"           path="/datas/share/Msimrelease_stkbar/modules/hfs_op_abs.so"                      handler=""/>
      <Module id="AlphaOpTradeConstraint"         path="/datas/share/Msimrelease_stkbar/modules/hfs_op_trade_constraint.so"          handler=""/>
      <Module id="AlphaOpRank"          path="/datas/share/Msimrelease_stkbar/modules/hfs_op_rank.so"                     handler=""/>
      <Module id="AlphaOpZScore"        path="/datas/share/Msimrelease_stkbar/modules/hfs_op_zscore.so"                   handler=""/>
      <Module id="AlphaOpWinsorize"     path="/datas/share/Msimrelease_stkbar/modules/hfs_op_winsorize.so"                handler=""/>
      <Module id="AlphaOpLinDecay"      path="/datas/share/Msimrelease_stkbar/modules/hfs_op_linear_decay.so"             handler=""/>
      <Module id="AlphaOpEmaDecay"      path="/datas/share/Msimrelease_stkbar/modules/hfs_op_expdecay.so"                 handler=""/>
      <Module id="AlphaOpRiskNeut"      path="/datas/share/Msimrelease_stkbar/modules/hfs_op_risk_neutral.so"             handler=""/>
      <Module id="AlphaOpRiskNeutRank"      path="/datas/share/Msimrelease_stkbar/modules/hfs_op_rank_risk_neutral.so"             handler=""/>
      <Module id="OpNeutralize"         path="/datas/share/Msimrelease_stkbar/modules/hfs_op_rank_risks_neutral.so"             handler=""/>
      <Module id="AlphaOpIndNeut"       path="/datas/share/Msimrelease_stkbar/modules/hfs_op_sector_neutral.so"           handler=""/>
      <Module id="AlphaOpMktCapNeut"    path="/datas/share/Msimrelease_stkbar/modules/hfs_op_mktcap_neutral.so"           handler=""/>
      <Module id="AlphaOpCapSecNeut"    path="/datas/share/Msimrelease_stkbar/modules/hfs_op_mktcap_sector_neutral.so"    handler=""/>
      <Module id="AlphaOpRiskNeutDelay"      path="/datas/share/Msimrelease_stkbar/modules/hfs_op_risk_neutral_delay.so"       handler=""/>
      <Module id="AlphaOpIndNeutDelay"       path="/datas/share/Msimrelease_stkbar/modules/hfs_op_sector_neutral_delay.so"     handler=""/>
      <Module id="AlphaOpMktCapNeutDelay"    path="/datas/share/Msimrelease_stkbar/modules/hfs_op_mktcap_neutral_delay.so"     handler=""/>
      <Module id="AlphaOpCapSecNeutDelay"    path="/datas/share/Msimrelease_stkbar/modules/hfs_op_mktcap_sector_neutral_delay.so"    handler=""/>
       <Module id="StatsDumpAlpha"           path="/datas/share/Msimrelease_stkbar/modules/hfs_bar_stats_dump_alpha.so"       handler=""
                 delay="0" offset="50" freq="60"   dumpAlphaDir="/datas2/share/factorsValue/" />
        <Module id="StatsBacktest"           path="/datas/share/Msimrelease_stkbar/modules/hfs_bar_pnl_stats.so"       handler=""
                           delay="0" offset="50" freq="60"  ret="ret_1d" weight="rank" dumpAlphaDir="./cache/pnl/" dumpMode="sum" />
 </Modules>

  <Datafeed moduleId="CTAFeed" id="MyFeed" runmode="backtest"/>
  <Portfolio booksize="1e9" moduleId="CTAPort" id="MyPort" printStats="true" combinationId="SimpleCombo" 
	  alphacode="/home/linzy/work/alpha/Alpha4/lib/" tradeId="SimTradeIntra">
    <Config longOnly="false" rebFreq="1" tolerance="5" benchmark="" numQtls="5" numStks="4460" />


    <!--Stats moduleId="StatsFast" vwappnl="false" btPrc="clse_adj" cost="true" slippage="0.0000" longOnly="false" numQtls="5" 
                  benchmark=""  pnlDir="./cache/pnl/" delay="0" numStks="3613" /-->
     <!--Stats moduleId="RiskStats" factors="BP,EP,CAP,LIQ_5,LIQ_20,VOLA_20,RET_5,RET_10,RET_20,RET_50" numQtls="10" numStks="3613"/-->
     <Stats moduleId="StatsDumpAlpha" />


    <!-- putting your alphas here-->

          <!--Alpha moduleId="hfs_model_R00001" id="abret_500" universeId="ALL" delay="0" dumpAlphaFile="true"  freq="60" offset="50"
                                    dumpAlphaDir="/datas2/share/rets/">
            <Config ndayX="1" nlag="1" nmin="15" abrets = "true" />
         </Alpha-->

         <Alpha moduleId="hfs_model_pybsim" id="Alpha_ZY00001"   universeId="ALL"   delay="1"   dumpAlphaFile="true"   freq="240"  offset="0"
             dumpAlphaDir="/datas/linzy/Alpha_ZY00001/">
         <Config alphaname="pydemo" nday="5"/>
         <Operations>
             <Operation moduleId="AlphaOpMktCapNeut" />
             <Operation moduleId="OpNeutralize" factors="BP,EP" />
         </Operations>
     </Alpha>

     <!--Alpha moduleId="hfs_model_200001" id="Alpha_ZY00001_2" universeId="ALL" delay="0" dumpAlphaFile="true" freq="240" offset="0"
                                    dumpAlphaDir="/datas/share/pnl/Alpha_ZY00001_2/">
           <Config nday="1" span="10"/>
           <Operations>
              <Operation moduleId="AlphaOpRiskNeut" factors="RET_1"/>
              <Operation moduleId="AlphaOpEmaDecay" period="5"/>
              <Operation moduleId="AlphaOpMktCapNeut"  />
           </Operations>
       </Alpha>


        <Alpha moduleId="hfs_model_200057" id="Alpha_ZY00057" universeId="ALL" delay="0" dumpAlphaFile="true"  freq="240" offset="0"
                                    dumpAlphaDir="/datas/share/pnl/Alpha_ZY00001/">
            <Config nday="10" span="10"/>
            <Operations>
                <Operation moduleId="AlphaOpMktCapNeut" />
            </Operations>
        </Alpha>

         <Alpha moduleId="hfs_model_200057" id="Alpha_ZY00057_3" universeId="ALL" delay="0" dumpAlphaFile="true"  freq="240" offset="0"
                                    dumpAlphaDir="/datas/share/pnl/Alpha_ZY00001/">
            <Config nday="10" span="10"/>
        </Alpha>

        <Alpha moduleId="hfs_model_200057" id="Alpha_ZY00057_2" universeId="ALL" delay="0" dumpAlphaFile="true" freq="240" offset="0"
                                    dumpAlphaDir="/datas/share/pnl/Alpha_ZY00001_2/">
           <Config nday="1" span="10"/>
           <Operations>
              <Operation moduleId="AlphaOpRiskNeut" factors="RET_1"/>
              <Operation moduleId="AlphaOpEmaDecay" period="5"/>
              <Operation moduleId="AlphaOpMktCapNeut"  />
           </Operations>
       </Alpha-->





        <!--Alpha moduleId="hfs_model_200001" id="Alpha_ZY00001_2" universeId="ALL" delay="1" dumpAlphaFile="true" 
                                    dumpAlphaDir="/datas/share/pnl/Alpha_ZY00001_2_new/">
            <Config nday="1" span="10"/>
            <Operations>
                 <Operation moduleId="AlphaOpRiskNeut" factors="RET_1"/>
         	 <Operation moduleId="AlphaOpEmaDecay" period="5"/>
          	<Operation moduleId="AlphaOpMktCapNeut"  />
            </Operations>
        </Alpha-->


     <!--Alpha moduleId="hfs_model_600002" id="Alpha_LT00002" universeId="ALL" delay="1" dumpAlphaFile="true" 
              dumpAlphaDir="/home/datas/pnl/Alpha_LT00002/" >
       <Config nMin="20"  />
      <Operations>
                <Operation moduleId="AlphaOpCapSecNeut" />
                 <Operation moduleId="AlphaOpRiskNeut" factors="RET_10"/>
                 <Operation moduleId="AlphaOpEmaDecay" period="5"/>
            </Operations>
    </Alpha-->


    <!--Alpha moduleId="hfs_model_200041" id="Alpha_ZY00057" universeId="ALL" delay="1" dumpAlphaFile="true" 
                                dumpAlphaDir="/datas/zylin/Alpha4/pnl/Alpha_ZY00057/" >
          <Config nday="5"  />
          <Operations>
                  <Operation moduleId="AlphaOpCapSecNeut" />
                 <Operation moduleId="AlphaOpRiskNeut" factors="RET_5"/>
                 <Operation moduleId="AlphaOpEmaDecay" period="10"/>
          </Operations>
    </Alpha>


      <Alpha moduleId="hfs_model_200042" id="Alpha_ZY00058" universeId="ALL" delay="1" dumpAlphaFile="true" 
                                           dumpAlphaDir="/datas/zylin/Alpha4/pnl/Alpha_ZY00058/" >
          <Config nMin="240"  />
          <Operations>
                 <Operation moduleId="AlphaOpEmaDecay" period="5"/>
                 <Operation moduleId="AlphaOpRiskNeut" factors="RET_5"/>
                 <Operation moduleId="AlphaOpCapSecNeut" />
          </Operations>
    </Alpha>

       <Alpha moduleId="hfs_model_200042" id="Alpha_ZY00059" universeId="ALL" delay="1" dumpAlphaFile="true" 
                                                       dumpAlphaDir="/datas/zylin/Alpha4/pnl/Alpha_ZY00059/" >
          <Config nMin="240"  />
          <Operations>
                 <Operation moduleId="AlphaOpEmaDecay" period="6"/>
                 <Operation moduleId="AlphaOpCapSecNeut" />
          </Operations>
    </Alpha-->

       <!--Alpha moduleId="hfs_model_100006" id="Alpha_SX00006" universeId="ALL" delay="1" dumpAlphaFile="true" 
              dumpAlphaDir="/datas/zylin/Alpha4/pnl/Alpha_SX00006/" >
        <Config N = "240" fraction = "0.2" />
      <Operations>
                 <Operation moduleId="AlphaOpCapSecNeut" />
                 <Operation moduleId="AlphaOpRiskNeut" factors="RET_20"/>
                 <Operation moduleId="AlphaOpEmaDecay" period="10"/>
            </Operations>
    </Alpha>

     <Alpha moduleId="hfs_model_100003" id="Alpha_SX00003" universeId="ALL" delay="1" dumpAlphaFile="true" 
              dumpAlphaDir="/home/xiash/work/Alpha4/bin/cache/pnl/" >
      <Config N1 = "1" N2 = "40" />
      <Operations>
                 <Operation moduleId="AlphaOpCapSecNeut" />
                 <Operation moduleId="AlphaOpRiskNeut" factors="RET_10"/>
                 <Operation moduleId="AlphaOpEmaDecay" period="40"/>
            </Operations>
    </Alpha-->




     <!--Alpha moduleId="hfs_model_200021" id="Alpha_ZY00037" universeId="ALL" delay="1" dumpAlphaFile="true" 
              dumpAlphaDir="/datas/zylin/Alpha4/pnl/Alpha_ZY00037/" >
       <Config span="1" StartIdx="180" EndIdx="239"  />
      <Operations>
                 <Operation moduleId="AlphaOpEmaDecay" period="5"/>
            </Operations>
    </Alpha-->


     <!--


     <Alpha moduleId="hfs_model_200021" id="Alpha_ZY00037" universeId="ALL" delay="0" dumpAlphaFile="true" 
              dumpAlphaDir="/datas/zylin/Alpha4/pnl/Alpha_ZY00037/" >
       <Config span="1" StartIdx="0" EndIdx="59"  />
      <Operations>
                 <Operation moduleId="AlphaOpEmaDecay" period="5"/>
            </Operations>
    </Alpha>


      <Alpha moduleId="hfs_model_200021" id="Alpha_ZY00039" universeId="ALL" delay="1" dumpAlphaFile="true" 
              dumpAlphaDir="/datas/zylin/Alpha4/pnl/Alpha_ZY00039/" >
       <Config span="1" StartIdx="210" EndIdx="239"  />
      <Operations>
                 <Operation moduleId="AlphaOpEmaDecay" period="5"/>
            </Operations>
    </Alpha>


      <Alpha moduleId="hfs_model_200021" id="Alpha_ZY00040" universeId="ALL" delay="1" dumpAlphaFile="true" 
              dumpAlphaDir="/datas/zylin/Alpha4/pnl/Alpha_ZY00040/" >
       <Config span="1" StartIdx="0" EndIdx="239"  />
      <Operations>
                 <Operation moduleId="AlphaOpEmaDecay" period="5"/>
            </Operations>
    </Alpha-->

      <!--Alpha moduleId="hfs_model_200020" id="Alpha_ZY00033" universeId="ALL" delay="0" dumpAlphaFile="true" 
              dumpAlphaDir="/datas/zylin/Alpha4/pnl/Alpha_ZY00033/" >
       <Config ndayX="5"  />
      <Operations>
                  <Operation moduleId="AlphaOpRiskNeutDelay" factors="RET_5"/>
                 <Operation moduleId="AlphaOpCapSecNeutDelay" />
            </Operations>
    </Alpha-->

     <!--Alpha moduleId="hfs_model_200020" id="Alpha_ZY00035" universeId="ALL" delay="0" dumpAlphaFile="true" 
              dumpAlphaDir="/datas/zylin/Alpha4/pnl/Alpha_ZY00035/" >
       <Config nday="3"  />
      <Operations>
                  <Operation moduleId="AlphaOpRiskNeutDelay" factors="RET_5"/>
                 <Operation moduleId="AlphaOpCapSecNeutDelay" />
            </Operations>
    </Alpha>

     <Alpha moduleId="hfs_model_200020" id="Alpha_ZY00036" universeId="ALL" delay="0" dumpAlphaFile="true" 
              dumpAlphaDir="/datas/zylin/Alpha4/pnl/Alpha_ZY00036/" >
       <Config nday="10"  />
      <Operations>
                  <Operation moduleId="AlphaOpRiskNeutDelay" factors="RET_5"/>
                 <Operation moduleId="AlphaOpCapSecNeutDelay" />
            </Operations>
    </Alpha-->





     <!--Alpha moduleId="hfs_model_200011" id="Alpha_ZY00018" universeId="ALL" delay="0" dumpAlphaFile="true" 
                                    dumpAlphaDir="/datas/zylin/Alpha4/pnl/Alpha_ZY00018/">
        <Config nday="10" StartIdx = "30" EndIdx = "59" />
		 <Operations>
                <Operation moduleId="AlphaOpCapSecNeutDelay" />
          </Operations>
     </Alpha-->

       <!--Alpha moduleId="hfs_model_200011" id="Alpha_ZY00019" universeId="ALL" delay="0" dumpAlphaFile="true" 
                                    dumpAlphaDir="/datas/zylin/Alpha4/pnl/Alpha_ZY00019/">
          <Config nday="10" StartIdx = "60" EndIdx = "119" />
		  <Operations>
                <Operation moduleId="AlphaOpCapSecNeutDelay" />
          </Operations>
        </Alpha-->
	 


     <!--Alpha moduleId="hfs_model_200016" id="Alpha_ZY00025" universeId="ALL" delay="1" dumpAlphaFile="true" 
                                    dumpAlphaDir="/datas/zylin/Alpha4/pnl/Alpha_ZY00025/">
         <Config nday="10" StartIdx = "120" EndIdx = "239" />
            <Operations>
                 <Operation moduleId="AlphaOpCapSecNeut" />
            </Operations>
     </Alpha>

      <Alpha moduleId="hfs_model_200017" id="Alpha_ZY00026" universeId="ALL" delay="1" dumpAlphaFile="true" 
                                               dumpAlphaDir="/datas/zylin/Alpha4/pnl/Alpha_ZY00026/">
          <Config nday="5" StartIdx = "210" EndIdx = "239" NSlice="10" />
            <Operations>
                 <Operation moduleId="AlphaOpCapSecNeut" />
            </Operations>
     </Alpha>

      <Alpha moduleId="hfs_model_200017" id="Alpha_ZY00027" universeId="ALL" delay="1" dumpAlphaFile="true" 
                                               dumpAlphaDir="/datas/zylin/Alpha4/pnl/Alpha_ZY00027/">
          <Config nday="10" StartIdx = "120" EndIdx = "239" NSlice="10" />
            <Operations>
                 <Operation moduleId="AlphaOpCapSecNeut" />
            </Operations>
     </Alpha-->
	 




     <!--Alpha moduleId="hfs_model_200015" id="Alpha_ZY00016" universeId="ALL" delay="1" dumpAlphaFile="true" 
                                    dumpAlphaDir="/datas/zylin/Alpha4/pnl/Alpha_ZY00016/">
          <Config nday="5" StartIdx = "120" EndIdx = "239" />
            <Operations>
                 <Operation moduleId="AlphaOpRiskNeut" factors="RET_5,RET_1"/>
                 <Operation moduleId="AlphaOpCapSecNeut" />
            </Operations>
     </Alpha-->


  </Portfolio>
</cfg>




